[submodule "libraries/OpenSfM"]
	path = libraries/OpenSfM
	url = https://github.com/mapillary/OpenSfM
[submodule "libraries/Ambrosio-Tortorelli-Minimizer"]
	path = libraries/Ambrosio-Tortorelli-Minimizer
	url = https://github.com/jacobgil/Ambrosio-Tortorelli-Minimizer.git
[submodule "segmentation/air-bag-segment"]
	path = segmentation/air-bag-segment
	url = git@git.hblab.vn:ai/air-bag-segment.git
[submodule "libraries/correspondence-discrete-optim"]
	path = libraries/correspondence-discrete-optim
	url = https://github.com/sontung/correspondence-discrete-optim.git
[submodule "libraries/SPlisHSPlasH"]
	path = libraries/SPlisHSPlasH
	url = git@github.com:InteractiveComputerGraphics/SPlisHSPlasH.git
