[submodule "libraries/OpenSfM"]
	path = libraries/OpenSfM
	url = https://github.com/mapillary/OpenSfM
[submodule "libraries/Ambrosio-Tortorelli-Minimizer"]
	path = libraries/Ambrosio-Tortorelli-Minimizer
	url = https://github.com/jacobgil/Ambrosio-Tortorelli-Minimizer.git
[submodule "libraries/correspondence-discrete-optim"]
	path = libraries/correspondence-discrete-optim
	url = https://github.com/sontung/correspondence-discrete-optim.git
[submodule "libraries/libgeom"]
	path = libraries/libgeom
	url = git@github.com:sontung/libgeom.git
[submodule "libraries/partio"]
	path = libraries/partio
	url = git@github.com:wdas/partio.git
