*.zip
data_heavy/
data_const/
data_video/
.idea/
libraries/ceres-bin/
libraries/ceres-solver-2.0.0/
*.pyc
*/__pycache__/
*/debugs/
reconstruction/saved/*
sph_data/Cache
sph_data/mc_solutions
sph_data/mc_solutions_smoothed
sph_data/image_gif
*/saved/*
*.gif
sph_data/libigl-example-project/build/
segmentation/output/
*.lprof
